:root {
  /* Primary colors */
  --purple-600: hsl(246, 80%, 60%);
  --orange-300: hsl(15, 100%, 70%);
  --blue-300: hsl(195, 74%, 62%);
  --pink-400: hsl(348, 100%, 68%);
  --green-400: hsl(145, 58%, 55%);
  --purple-700: hsl(264, 64%, 52%);
  --yellow-300: hsl(43, 84%, 65%);

  /* Neutral */
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Rubik", sans-serif;
  background-color: var(--navy-950);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: min(100% - 3rem, 375px);
  margin: 0 auto;
}

.profile {
  margin: 5rem 1rem 1.5rem 1rem;
  background-color: var(--navy-900);
  border-radius: 1rem;
}

.profile__wrapper {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--purple-600);
}

.profile__img-container {
  display: flex;
  background-color: white;
  border-radius: 100%;
  margin: 1rem 1.5rem;
  padding: 0.25rem;
  width: 30%;
}

.profile__text {
  width: 100%;
}

.profile__text-report {
  color: var(--navy-200);
}

.profile__text-name {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

.profile__btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile__btn {
  color: var(--navy-200);
  padding: 1.5rem;
}

.profile__btn:hover,
.profile__btn:active {
  color: white;
  font-weight: 500;
}

.stats {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
  margin: 0.5rem 0 1.5rem 0;
  width: min(100% - 3rem, 375px);
}

.stats__card {
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: 90% -20%;
}

.stats__card--work {
  background-color: var(--orange-300);
  background-image: url(./images/icon-work.svg);
}

.stats__card--play {
  background-color: var(--blue-300);
  background-image: url(./images/icon-play.svg);
}

.stats__card--study {
  background-color: var(--pink-400);
  background-image: url(./images/icon-study.svg);
}

.stats__card--exercise {
  background-color: var(--green-400);
  background-image: url(./images/icon-exercise.svg);
}

.stats__card--social {
  background-color: var(--purple-700);
  background-image: url(./images/icon-social.svg);
}

.stats__card--self-care {
  background-color: var(--yellow-300);
  background-image: url(./images/icon-self-care.svg);
}

.stats__card-background {
  height: 30%;
  border-radius: 2rem 2rem 0 0;
  width: 100%;
}

.stats__card-content {
  background-color: var(--navy-900);
  height: 100%;
  border-radius: 1rem;
  padding: 1.3rem 1.3rem;
}

.stats__card-category,
.stats__numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats__name,
.stats__numbers-hrs {
  font-weight: 300;
  font-size: 1.25rem;
  color: white;
}

.stats__name {
  padding: 0.5rem 0;
}

.stats__numbers-hrs {
  font-size: 2rem;
}

.stats__numbers-time {
  color: var(--navy-200);
}

@media (min-width: 775px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: min(100% - 2rem, 1400px);
    flex-direction: row;
    gap: 2rem;
  }

  .profile {
    max-width: 260px;
  }

  .profile__wrapper {
    padding: 1.25rem 2rem 2.75rem 2rem;
    flex-direction: column;
    align-items: start;
  }

  .profile__img-container {
    margin: 1rem 0;
    width: 40%;
  }

  .profile__text {
    margin: 2rem 0;
    padding-top: 0rem;
  }

  .profile__text-name {
    font-size: 2.5rem;
  }

  .profile__btn-container {
    flex-direction: column;
    align-items: start;
    padding: 1rem 0;
  }

  .profile__btn {
    padding: 0.75rem 2rem;
  }

  .stats {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .stats__numbers-hrs {
    margin: 1rem 0;
    font-size: 3rem;
  }

  .stats__card {
    margin: 0.5rem 0;
  }

  .stats__numbers {
    align-items: start;
    flex-direction: column;
    /* padding: 1.75rem 0; */
  }
}
